* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.6;
}

h1,
h2,
strong {
    font-weight: 700;
}

.accent-color {
    color: #ffe600;
}

.btn {
    padding: 0.5em 1.5em;
    font-weight: 700;
    margin-top: 0.5em;
}

.btn-primary {
    background: #ffe600;
    color: #000;
    justify-self: start;
}

.hero-title {
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 1.4;
}

.hero {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    background-image: url(../img/hero-bg.jpg);
    color: #fff;
}

.hero > * {
    grid-column: 2 / -2;
}
